@import "mixins";

root {
    --color-primary: #fff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

*,
**::before,
**::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 2rem;
}

body {
    background-color: var(--color-primary);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    width: 100%;

    @include  breakpoint (mobile) {
        width: 100%;  
    }
}

