:root {
    --color-primary: #fff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

*,
**::before,
**::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    // font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    background-color: var(--color-primary);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

